@import "tailwindcss";

@font-face {
  font-family: 'Sekuya';
  src: url('/fonts/sekuya-latin-400-normal.ttf') format('truetype'),
       url('/fonts/sekuya-latin-ext-400-normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-poppins: "Poppins", Helvetica;
  --font-rubik: "Rubik Doodle Shadow", Helvetica;
  --font-sekuya: "Sekuya", Helvetica;
  --font-seaweed: "Seaweed Script", Helvetica;

  --color-primary: #610200;
  --color-secondary: #191411;
  --color-yellow-white: #FFF5CF;
  --color-grey: #6B7280;
  --color-white: #FFFFFF;

  /* clamp(ขนาดเล็กสุด, ขนาดยืดหยุ่น, ขนาดใหญ่สุด) */
--text-h1: clamp(3px, 2vw, 17px);
--text-sub-h1: clamp(1px, 1.5vw, 9px);
--text-body-bold: clamp(1px, 1vw, 1px);
--text-rubik1: clamp(33px, 8vw, 113px);
--text-rubik2: clamp(21px, 6vw, 81px);
--text-sekuya1: clamp(65px, 12vw, 185px);
--text-sekuya2: clamp(25px, 6vw, 81px);
--text-sekuya3: clamp(13px, 4vw, 49px);
--text-seaweed1: clamp(13px, 4vw, 49px);
--text-seaweed2: clamp(5px, 3vw, 25px);
}